#window {
  font-family: 'Roboto', serif;
  font-size: 1.1em;
  padding: 15px;
  border: 1px solid #1a6b9a;
  background-color: #3b4252;
  border-radius: 5px;
}

#input {
  margin: 15px;
  padding: 5px 10px;
  width: 180px;
  border: 1px solid;
  color: #eeeeee;
  background-color: #3b4252;
}

#input:focus {
  color: #3b4252;
  background-color: #eeeeee;
}

#inner-box {
  margin: 5px;
  padding: 5px;
  border: none;
  background-color: #3b4252;
}

#outer-box {
  margin: 5px;
  margin-bottom: 15px;
  border: none;
  background-color: #3b4252;
}

#scroll {
  margin: 0;
  border: none;
}

#text {
  padding: 5px;
  border: none;
  color: #eeeeee;
}

#entry {
  padding: 5px 15px;
}

#entry:selected {
  border: 1px solid #311532;
  border-radius: 3px;
}