* {
    background-image: none;
    transition: 20ms;
    box-shadow: none;
}

window {
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 13px;
}

button {
    margin: 30px 0;
    padding: 0;
    background-color: #2e3440;
    border-style: none;
    border-width: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
    color: #5e81ac;
    border-radius: 0px;
    outline-style: none;
}

button:hover {
    color: rgba(0, 0, 0, 0);
    background-color: #517175;
    background-size: 50%;
    border-radius: 10px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

#shutdown {
    margin-left: 200px;
    background-image: image(url("/home/andrew/.config/wlogout/assets/shutdown.png"), url("/home/andrew/.config/wlogout/assets/shutdown.png"));
    border-radius: 10px 0px 0px 10px;
}
#shutdown:hover {
    border-radius: 10px;
}

#logout {
    background-image: image(url("/home/andrew/.config/wlogout/assets/logout.png"), url("/home/andrew/.config/wlogout/assets/logout.png"));
}

#reboot {
    background-image: image(url("/home/andrew/.config/wlogout/assets/reboot.png"), url("/home/andrew/.config/wlogout/assets/reboot.png"));
}

#hibernate {
    background-image: image(url("/home/andrew/.config/wlogout/assets/hibernate.png"), url("/home/andrew/.config/wlogout/assets/hibernaite.png"));
}

#lock {
    background-image: image(url("/home/andrew/.config/wlogout/assets/lock.png"), url("/home/andrew/.config/wlogout/assets/lock.png"));
}

#suspend {
    margin-right: 200px;
    background-image: image(url("/home/andrew/.config/wlogout/assets/suspend.png"), url("/home/andrew/.config/wlogout/assets/suspend.png"));
    border-radius: 0px 10px 10px 0px;
}

#suspend:hover {
    border-radius: 10px;
}

